* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: bisque;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin: 0 20%;
}

.image1 {
  margin-top: 10px;
  width: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
